<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
<title>毒鸡汤</title>
<style type="text/css">
html, body {height: 100%; margin:0;}
.container {height:100%; display:grid; place-items:center; padding:0 10px;}
</style>
</head>
<body>
<div class="container">
    <p>来一杯热翔！</p>
    <h1>{{ title }}</h1>
    <p>干了这碗毒鸡汤！</p>
</div>
</body>
</html>